<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Available Trailers <span class="badge"
                    text="Trailer"></span></div>
            <div class="panel-body"><img src="trailer.imagePath" class="img-responsive"
                    style="width:100%; height: 100%" alt="Image"></div>
            <div class="panel-footer"><a href="trailer.number" class="btn btn-primary"
                    style="margin-right: 2em;">View Details</a></div>
        </div>
    </div>
    <!-- <div class="col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Total Tenants <span class="badge" th:text="${dashboard.totalTenants}"></span></div>
            <div class="panel-body"><img src="/pictures/customers.jpg" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
            <div class="panel-footer"><a href="/users/list" class="btn btn-primary" style="margin-right: 2em;">View Details</a></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Under Repair Trailers <span class="badge" th:text="${dashboard.underTrailers}"></span></div>
            <div class="panel-body"><img src="/pictures/repair.png" class="img-responsive" style="width:100%; height: 100%" alt="Image"></div>
            <div class="panel-footer"><a href="trailers/search?trailernumber=&statusID=0" class="btn btn-primary" style="margin-right: 2em;">View Details</a></div>
        </div>
    </div> -->

</div>