<!-- <div class="row"> -->

<hr>
<hr>
<!-- <div class="row">
  <div class="col-sm-12"></div>
</div>
<div class="row">
  <div class="col-sm-12"></div>
</div>
<div class="row">
  <div class="col-sm-12"></div>
</div>
<div class="row">
  <div class="col-sm-12"></div>
</div> -->
<div> 
  <img [src]="trailer.imagePath" alt="{{trailer.number}}" class="image-responsive" style="max-height: 200px">
</div>
<!-- </div> -->
<div class="row">
  <div class="col-xs-12">
    <h1>{{trailer.number}}</h1>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href=#>To  </a> </li>
        <li><a href=#>Edit Trailer</a> </li>
        <li><a href=#>Delete Trailer</a> </li>
      </ul>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-xs-12">
    {{trailer.name}}
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-12">
    Room photo
  </div>
</div> -->