<!-- <input type="text" [(ngModel)]="name">
<p>{{name}}</p> -->
<!-- <app-trailer></app-trailer> -->

<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <!-- <app-trailer-list (trailerWasSelected)="selectedTrailer=$event"></app-trailer-list> -->
        <!-- <app-trailer-list (trailerWasSelected)="selectedTrailer=$event"></app-trailer-list> -->
        <!-- <app-trailer-list (changed)="onLoginEmit($event)">

        </app-trailer-list> -->
        <router-outlet></router-outlet>
    </div>
  </div>
</div> 